# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
env/
*.log

# Flask / dotenv
.env

# PyCharm
.idea/
shelf/
workspace.xml

# OS-specific
.DS_Store
Thumbs.db

# MongoDB
dump/
*.bson

# Firebase key
url-shortner-36fa2-firebase-adminsdk-fbsvc-dae0667182.json